@font-face {
  font-family: 'RobotoBlack';
  src: local('RobotoBlack'), url(./fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'RobotoBold';
  src: local('RobotoBold'), url(./fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url(./fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold'), url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Helvetica';
  src: local('Poppins'), url(./fonts/Helvetica.ttf);
}

@font-face {
  font-family: 'HelveticaLight';
  src: local('PoppinsThin'), url(./fonts/Helvetica-Light.ttf);
}

@font-face {
  font-family: 'HelveticaBold';
  src: local('PoppinsMedium'), url(./fonts/Helvetica-Bold.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
